<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Salon</title>
    </head>
    <body>
        <div class='container'>
            <div class="jumbotron">
                <h1>Welcome to the Salon</h1><br>
            </div>
            {% if stylists is not empty %}
                <p>Here are all your stylists:</p>
                <ul>
                    {% for stylist in stylists %}
                        <li><a href="/stylists/{{ stylist.getId }}">{{ stylist.getStylistName }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
              <p>There are no stylists yet!</p>
            {% endif %}

            <br>
            <form action='/' method='post'>
                <label for='stylist_name'>Add stylist</label><br>
                <input id='stylist_name' name='stylist_name' type='text' placeholder='Name goes here' required><br><br>
                <button type='submit' class='btn-info'>Add</button>
            </form>
            <br><br>
            <form action='/delete_stylists' method='post'>
                <button type='submit' class='btn-danger'>Remove all stylists</button>
            </form>
        </div>
    </body>
</html>
