<html>
    <head>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/styles.css" typ="text/css">
        <title>Hair Salon</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1>Salon</h1>
            <h2>Stylist Factory</h2>
        </div>
        <div class="container">
            <form action="/" id="add_stylist" method="post">
                <div class="form-group well">
                    <h3>Add a Stylist
                    <button type="submit" class="btn btn-info">Add</button></h3>
                    <input placeholder="Full Name" class="form-control" type="text" name="name_st" id="name_st">
                </div>
            </form>
            {% if stylists is not empty %}
                <h3>Pick a stylist:</h3>
                <ul class="list-unstyled">
                    {% for stylist in stylists %}
                        <li>
                            <h4><a href="/stylists/{{ stylist.getId }}"> {{ stylist.getStylistName }}</a> |
                            <a class="btn btn-success" href="/stylist/{{ stylist.getId }}/edit">Edit</a></h4>
                        </li>
                    {% endfor %}
                </ul>
            <a href="/all_stylists_deleted">Delete All Stylists</a> <br>
            <a href="/all_clients_deleted">Delete All Clients</a>
            {% else %}
                <h3>You have not added any stylists to the system!</h3>
            {% endif %}
        </div>
    </body>
</html>
